<template>
        <br/>
  <h3 class="text-center">All Posts</h3><br/>
  <table class="table table-striped">
  <thead>
    <tr>
        <th scope="col">#</th>
        <th scope="col">Title</th>
        <th scope="col">Content</th>
        <th>Created At</th>
        <th>Actions</th>
    </tr>
  </thead>
  <tbody>
 
    <tr v-for="(post, index) in posts" :key=post.id>
      <th scope="row">{{index+1}}</th>
      <td>{{post.title}}</td>
      <td>{{post.content}}</td>
      <td>{{ post.created_at }}</td>
      <td>
          <div class="btn-group" role="group">
                 <router-link :to="{name: 'Edit', params: { id: post.id }}" class="btn btn-primary">Edit
                        </router-link>   
              <button class="btn btn-danger" @click="deletePost(post.id)">Delete</button>
          </div>
      </td>
    </tr>
  </tbody>
</table>
</template>

<script>
import axios from 'axios';
axios.defaults.withCredentials = true;
axios.defaults.baseURL = 'http://127.0.0.1:8000/';

export default {
    data() {
            return {
                posts: [],

            }
        },
    methods: {
    	  async listar() {

      const res = await axios.get('/api/post',{
    headers: {
        "Authorization": 'Bearer ' + this.$store.getters.getToken

    	}
	});
      this.posts = res.data.data;
       
    },
    
            deletePost(id) {
                axios.delete(`http://127.0.0.1:8000/api/post/${id}`)
                    .then(() => {
                        let i = this.posts.map(item => item.id).indexOf(id); 
                        this.posts.splice(i, 1)
                    });
            }
        },
        
    
  created() {
    this.listar();
  }
}
</script>