<template>
  <div id="admin">

   <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="collapse navbar-collapse">
                <div class="navbar-nav">
                   <router-link to="/admin/home">Home</router-link> |
                   <router-link to="/create">Create</router-link> 
                </div>
            </div>
        </nav>

  </div>
   <router-view/>
</template>

