<template>
    <div class="container">
            <h3>Login</h3>
        <div class="row">
            <div class="login-body">
                <div class="login-content">
                    <form @submit.prevent="login">
                        <div class="form-group m-b-10">
                            <input type="text" v-model="user.email" class="form-control" placeholder="Email Address" />
                                <strong class="text-danger"  v-if="errors.email">
                                     {{ errors.email[0] }}
                                </strong>
                        </div>
                        <div class="form-group m-b-10">
                            <input type="password" v-model="user.password" class="form-control" placeholder="Password" />
                                <strong class="text-danger" v-if="errors.password">
                                     {{ errors.password[0] }}
                                </strong>
                        </div>
                        <div class="checkbox checkbox-css m-b-10">
                            <input type="checkbox" id="remember_checkbox" /> 
                            <label for="remember_checkbox">
                            Remember Me
                            </label>
                        </div>
                        <div class="login-buttons">
                            <button type="submit" class="btn btn-success btn-block btn-lg">Login</button>
                        </div>
                    </form>
                    <div class="m-t-20">
                        Not a member yet? Click <a @click="register()">here</a> to register.
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import axios from 'axios';
axios.defaults.withCredentials = true;
axios.defaults.baseURL = 'http://127.0.0.1:8000/';

export default {
    data() {
            return {
                user: {
                    email: '',
                    password: '',
                    device_name: 'browser'

                },
                errors: {}
            }
        },
    methods: {
        login: function() {
           const newUser =this.user; 
            axios.get('sanctum/csrf-cookie').then(() => {
                axios.post('/api/login', newUser).then((response) => {
                this.$store.commit('saveToken', response.data.token)
   
                    this.getSecrets();
    
        }) 
        });
        },

        getSecrets() {
            
          this.$router.push({ name: "Home" });
        },

        register() {
            
          this.$router.push({ name: "Register" });
        }
    }
}
</script>

