<template>
  <div class="container">
    <h3>Register</h3>
  <div class="row">
          <form @submit.prevent="register">
          <label class="control-label">Name <span class="text-danger">*</span></label>
          <div class="row row-space-10">
           <div class="col-md-12">
              <input type="text" class="form-control"  v-model="user.name" placeholder="Name" />
            </div>
            <strong class="text-danger"  v-if="errors.name">
                      {{ errors.name[0] }}
              </strong>
          </div>
          <label class="control-label">Email <span class="text-danger">*</span></label>
          <div class="row m-b-15">
            <div class="col-md-12">
              <input type="text" class="form-control"  v-model="user.email" placeholder="Email address" />
            </div>
              <strong class="text-danger"  v-if="errors.email">
                      {{ errors.email[0] }}
              </strong>
          </div>
          <label class="control-label">Password <span class="text-danger">*</span></label>
          <div class="row m-b-15">
            <div class="col-md-12">
              <input type="password" class="form-control"  v-model="user.password" placeholder="Password" />
              <strong class="text-danger" v-if="errors.password">
                      {{ errors.password[0] }}
              </strong>
            </div>
          </div>
          <div class="register-buttons">
            <button type="submit" class="btn btn-primary btn-block">Sign Up</button>
          </div>
          <div class="m-t-20 m-b-40 p-b-40 text-inverse">
            Already a member? Click <router-link to="/login">here</router-link> to login.
          </div>
          <hr />
          <p class="text-center">
            &copy; All Right Reserved 2021
          </p>
        </form>
      </div>
      </div>
</template>

<script>
import axios from 'axios';
export default {
  data() {
    return {
      user: {
        name: "",
        email: "",
        password: ""
      },
      errors: []
    };
  },
  methods: {
    register() {
                const newUser =this.user; 
                axios.post('http://127.0.0.1:8000/api/register', newUser).then(() => {
          this.$router.push({ name: "Login" });
        }).catch(error => {
            this.errors = error.response.data.message;
        }); 
    }
  }
};
</script>
