<template>
    
   <div class="container">
        <h3>Add Post</h3>
        <div class="row">
            <div class="col-md-6">
                <form @submit.prevent="addPost">
                    <div class="form-group">
                        <label>Title</label>
                        <input type="text" class="form-control" v-model="post.title">
                                <strong class="text-danger"  v-if="errors.title">
                                     {{ errors.title[0] }}
                                </strong>
                    </div>
                    <div class="form-group">
                        <label>Description</label>
                        <input type="text" class="form-control" v-model="post.content">
                                <strong class="text-danger"  v-if="errors.content">
                                     {{ errors.content[0] }}
                                </strong>
                    </div>
                    <button type="submit" class="btn btn-primary">Add Post</button>
                </form>
            </div>
        </div>
    
  </div>
</template>
  
<script>
import axios from 'axios';

    export default {
    name: 'Create',
        data() {
            return {
                post: {},
                errors: {}
            }
        },
        methods: {
            addPost() {
                       const newPost =this.post; 
                axios.post('http://127.0.0.1:8000/api/post', newPost,{
    headers: {
        "Authorization": 'Bearer ' + this.$store.getters.getToken

        }
    }).then(() => {
                        this.$router.push({name: 'Home'})
                    }).catch(error => {            
                        this.errors = error.response.data.message;
                });
            }
        }
    }
</script>
<style>
  .home {
    width: 850px;
    margin: 0 auto;
  }
  .inputs {
    align-items: center;
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  .input {
    box-sizing: border-box;
    margin-top: 20px;
    padding: 0 10px;
    width: inherit;
    textarea {
      box-sizing: border-box;
      border-radius: .5rem;
      padding: 10px;
      width: 100%;
      max-height: 500px;
      min-height: 200px;
      max-width: 100%;
      min-width: 100%;
    }
  }
</style>