<template>
<main-layout>
        <h3 class="text-center">Edit Post</h3>
        <div class="row">
            <div class="col-md-6">
                <form @submit.prevent="updatePost">
                    <div class="form-group">
                        <label>Title</label>
                        <input type="text" class="form-control" v-model="post.title">
                                <strong class="text-danger"  v-if="errors.title">
                                     {{ errors.title[0] }}
                                </strong>
                    </div>
                    <div class="form-group">
                        <label>Description</label>
                        <input type="text" class="form-control" v-model="post.description">
                                <strong class="text-danger"  v-if="errors.description">
                                     {{ errors.description[0] }}
                                </strong>
                    </div>
                    <button type="submit" class="btn btn-primary">Update Post</button>
                </form>
            </div>
        </div>
</main-layout>
</template>
  
<script>

import axios from 'axios';
    export default {
     name: 'Edit',
  data() {
            return {
                post: {
                    title: '',
                    description: '',
                    }
                  }
        },
        methods: {
            async edit() {

            const response = await axios.get(`http://127.0.0.1:8000/api/post/${this.$route.params.id}`,{
                headers: {
                "Authorization": 'Bearer ' + this.$store.getters.getToken

                }
            });
            this.post.title = response.data.title;
            this.post.description = response.data.description;
       
            },
            updatePost() {
                axios.put(`http://127.0.0.1:8000/api/post/${this.$route.params.id}`, this.post,{
                headers: {
                "Authorization": 'Bearer ' + this.$store.getters.getToken

                }
            }).then(() => {
                        this.$router.push({name: 'Home'});
                    });
            }
        },
        created() {
                this.edit()  
        },
 }
</script>